/* Scroll to top button */
#scrollTopBtn {
  position: fixed;
  bottom: 5px;
  /* above dark mode toggle */
  left: 5px;
  background: var(--card-bg);
  border: 2px solid var(--button-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--button-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* hidden by default */
  pointer-events: none;
}

#scrollTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

#scrollTopBtn:hover {
  color: var(--button-hover);
  border-color: var(--button-hover);
  transform: scale(1.1);
}